[
    {
        "ParameterKey": "S3BriaBucket",
        "ParameterValue": "jumpstart-bria-test-results"
    },
    {
        "ParameterKey": "InferenceEndpoint",
        "ParameterValue": "triton-gaia-ep-2023-11-20-16-47-06"
    },
    {
        "ParameterKey": "ApiToken",
        "ParameterValue": "<APIToken>"
    },
    {
        "ParameterKey": "ModelVersion",
        "ParameterValue": "2.3"
    }
    
]
